p.about_sub_title {
    color: white;
    letter-spacing: 1px;
    text-align: start;
    width: 85%;
}
h1.about_title {
  margin-bottom: 2rem;
}
.about_header{
    color: yellow;
}

p.about_text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.blast{
    color: orange;
    cursor:default;
}
.rabber_band:hover{
    color: white;
   
}
  .rabber_band {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
    animation-name: rubberBand;
  }
  
  /* .rabber_band:hover { */
    /* animation: rubberBand 5s infinite; */
  /* } */
  
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 


  
@media (max-width: 992px) {
  .about_me_main{
    margin-top: 7%;
    width: 100%;
    margin-left: 0%;
  }
}