.tip_title {
  margin-bottom: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.technology_icon {
  width: 100px;
  transition: transform 0.3s;
  margin-right: 2rem;
  cursor: pointer;
}
.technology_icon.css {
  width: 98px;
}
.technology_icon.mongodb {
  width: 130px;
}
.technology_icon:hover {
  transform: scale(1.3);
}
.tip_section {
  width: 100%;
}
.tip_main_text {
  width: 100%;
}
@media (max-width: 992px) {
  .tip_section {
    width: 90%;
  }
  .technology_icon {
  }
  .tech_div{
    width: 130px;
    margin: 2rem auto;

  }
}
