.col-md-6.contatct-half {
  position: relative;
  height: 100vh;
}
.text_contact {
  color: white;
}
input.input_form,
textarea.input_form {
  width: 100%;
  border: none;
  padding: 0.7rem;
  background: #115173;
  color: white;
}
input.input_form.name,
input.input_form.email {
  width: 100%;
}
input.input_form.name {
  margin-right: 2%;
}
input.input_form:focus,
textarea.input_form:focus {
  border: none;
  outline: none;
}
textarea.input_form {
  height: 140px;
  margin-bottom: 0px;
}
.span_input {
  width: 100%;
}
.d-flex .span_input {
  width: 48%;
}
.label_after {
  width: 100%;
  margin: 0px;
  position: relative;
}
.label_after::after {
  content: "";
  width: 0%;
  background: #FFA500;
  height: 2px;
  display: block;
  position: absolute;
  top: -19px;
  left: 0;
  transition: all 0.4s;
}

.input_form:focus + .label_after::after {
  width: 100%;
  transition: all 0.4s;
}

.focus + .label_after::after {
  width: 100%;
  transition: all 0.4s;
}
.text_area_label {
  top: -5px;
}
.span_input {
  height: 55px;
  margin-bottom: 0px;
}

.grid_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.map_section {
  width: 60%;
  background: white;
  margin: 0;
  transform: rotate(0);
  height: 100%;
  z-index: 2133;
  position:relative
}
.contact_box{
  width: 82%;
}
.contact{
  width: 40%;
}
.info_map{
  position: absolute;
  background: #000;
  top: 50px;
  left: 5%;
  z-index: 999999;
  width: fit-content;
  padding: 20px;
  color: #fff;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
}
img.marker_pic {
  position: absolute;
  top: 42%;
  width: 5%;
  left: 47.5%;
}