.row {
  width: 94%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}
.home_page {
  background-color: #022c43;
  height: 100vh;
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.body_tag,
.h1_tag {
  color: gray;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
}
.main_heading_title {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
}
.sub_title {
  color: gray;
  letter-spacing: 3px;
  font-size: 14px;
  margin-top: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;

}
.contactMeBtn {
  background: none;
  border: 1px solid yellow;
  color: yellow;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s;
}
.contactMeBtn:hover {
  color: black;
  background-color: yellow;
}
.start_tag_box {
  position: absolute;
  top: 3%;
  left: 8%;
}
.home_main_text {
  z-index: 2;
  margin-left: 9%;

}
.main_text{
  width:100%;
}

.end_tag_box {
  position: absolute;
  bottom: 6%;
  left: 8%;
}
.home_logo {
  width: 33%;
  /* height: 40%; */
  margin-right: 9%;
  transform: rotate(2deg);
}
.home_logo img {
  width: 100%;
}
